.folder-name-container:hover{
  cursor: pointer;
  text-decoration: underline;
}


.container{
  width: 30%;
}

.button-container{
  display: flex;
  justify-content: space-around;
  margin-top: 20px
}
